@using Elision.Feature.Template.Navigation.SC.Integration.Models;
@model NavigationItem
@if (Model == null || !Model.HasChildren)
{
    return;
}
<nav class="nav secondary-nav">
    @Html.Partial("MenuItems", Model.Children.Items)
</nav>